
   body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #9ee5f7, #89b6ee);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .login-card {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    width: 350px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }
  
  .login-avatar img {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
    border: 2px solid #0072ff;
  }
  
  h2 {
    color: #333;
    margin-bottom: 25px;
    font-weight: bold;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 16px;
    margin-top: 5px;
    transition: border-color 0.3s;
  }
  
  .input-group input:focus {
    border-color: #0072ff;
  }
  
  .login-button {
    background-color: #0072ff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
    width: 100%;
  }
  
  .login-button:hover {
    background-color: #005bb5;
    transform: scale(1.05);
  }
  
  .new-user {
    margin-top: 20px;
  }
  
  .new-user a {
    color: #0072ff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
    transition: color 0.3s;
  }
  
  /* .new-user a:hover {
    color: #005bb5;
  } */
  